.no-reports {
  width: 100%;
  text-align: center;
  padding-top: 7em;
  min-height: 55vh;
  color: #d5ccef;
  font-weight: 600;
  font-size: 1.7em;
}
.no-reports::first-letter {
  text-transform: capitalize;
}
